<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="page.css">
</head>

<body>
  <div class="page" data-page-number="{{.PageNum}}" data-page-width="{{printf "%.0f" .RealWidth}}" data-page-height="{{printf "%.0f" .RealHeight}}" role="region" aria-label="{{.PageNum}} 페이지" style="width: {{printf "%.0f" .Width}}px; height: {{printf "%.0f" .Height}}px;">
    <img src="{{.Image}}" alt="page image">
    <div class="textLayer" style="width: {{printf "%.0f" .Width}}px; height: {{printf "%.0f" .Height}}px;">
      {{- range .Texts}}
      <span class="text-span" style="left:{{.Left}}px;top:{{.Top}}px;width:{{.Width}}px;height:{{.Height}}px;font-size:{{.Height}}px;">{{.Text}}</span>
      {{- end}}
    </div>
  </div>
</body>

</html>